flows/Jeans_Day_Signup_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Set_Payment_Method</name>
        <label>Set Payment Method</label>
        <locationX>483</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>CurrentSignup.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_would_you_like_to_pay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Payment_Method</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Paid</name>
        <label>Paid?</label>
        <locationX>377</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSignup.Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Paid_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSignup.Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Method</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>200</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSignup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Signup</targetReference>
            </connector>
            <label>Record Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Venmo_or_Cash</name>
        <label>Venmo or Cash</label>
        <locationX>644</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Venmo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSignup.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venmo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Venmo_Finish</targetReference>
            </connector>
            <label>Venmo</label>
        </rules>
        <rules>
            <name>Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSignup.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cash_Finish</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Payment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Jeans_Day_Signup__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UsersName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Jeans Day Signup Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jeans Day Signup Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Signup</name>
        <label>Create Signup</label>
        <locationX>208</locationX>
        <locationY>297</locationY>
        <assignRecordIdToReference>CurrentSignup.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_new_signup</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>What_day_would_you_like_to_wear_jeans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>UsersName</elementReference>
            </value>
        </inputAssignments>
        <object>Jeans_Day_Signup__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_new_signup</name>
        <label>Get new signup</label>
        <locationX>214</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Method</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentSignup.Id</elementReference>
            </value>
        </filters>
        <object>Jeans_Day_Signup__c</object>
        <outputReference>CurrentSignup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Employee_Name__c</queriedFields>
        <queriedFields>Paid__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Signup</name>
        <label>Get Signup</label>
        <locationX>73</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>What_day_would_you_like_to_wear_jeans</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsersName</elementReference>
            </value>
        </filters>
        <object>Jeans_Day_Signup__c</object>
        <outputReference>CurrentSignup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Paid__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_Payment_Method</name>
        <label>Save Payment Method</label>
        <locationX>481</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Venmo_or_Cash</targetReference>
        </connector>
        <inputReference>CurrentSignup</inputReference>
    </recordUpdates>
    <screens>
        <name>Cash_Finish</name>
        <label>Cash Finish</label>
        <locationX>794</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CashFinish</name>
            <fieldText>&lt;p&gt;Thank you for signing up! Please have your cash ready for the jeans day coordinator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Paid Finish</label>
        <locationX>557</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_text</name>
            <fieldText>&lt;p&gt;You&apos;re all set! Enjoy jeans day on {!CurrentSignup.Date__c}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Jeans_Day_Signup</name>
        <label>Jeans Day Signup</label>
        <locationX>78</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pick_A_Date</targetReference>
        </connector>
        <fields>
            <name>Signup_CTA</name>
            <fieldText>&lt;p&gt;Sign up for jeans day!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Method</name>
        <label>Payment Method</label>
        <locationX>376</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Payment_Method</targetReference>
        </connector>
        <fields>
            <name>How_would_you_like_to_pay</name>
            <choiceReferences>Payment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to pay?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_A_Date</name>
        <label>Pick_A_Date</label>
        <locationX>76</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Signup</targetReference>
        </connector>
        <fields>
            <name>What_day_would_you_like_to_wear_jeans</name>
            <dataType>Date</dataType>
            <fieldText>What day would you like to wear jeans?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Venmo_Finish</name>
        <label>Venmo Finish</label>
        <locationX>645</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VenmoDisplay</name>
            <fieldText>&lt;p&gt;Thank you for signing up! Please venmo your payment to jeansday@hr.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>77</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Jeans_Day_Signup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentSignup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Jeans_Day_Signup__c</objectType>
    </variables>
    <variables>
        <name>CurrentuserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
